<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<!-- 引入bootstrap相关文件，bootstrap依赖于jquery -->
	<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css">
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

	<!-- 引入vue.js -->
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript">
		window.onload = function(){
			new Vue({
				el: '.container',
				data: {
					userlist:[],
					username:'',
					age:'',
					itemIndex: -100,
					msg: ''
				},
				methods:{
					add: function(){
						if(this.username != '' && this.age != ''){
							this.userlist.push({
								username: this.username,
								age: this.age
							});
							this.username = '';
							this.age = '';
						}
					},
					reset: function(){
						this.username = '';
						this.age = '';
					},
					deleteItem: function(){
						if(this.msg === '所有记录'){
							this.userlist = [];
						}else{
							this.userlist.splice(this.itemIndex, 1);
						}
					}
				}
			});
		};
	</script>
	<title>基于vue实现的简易用户管理</title>
</head>
<body>
	<div class="container">
		<form role="form">
			<div class="form-group">
				<label for="username">用户名</label>
				<input type="text" name="username" class="form-control" placeholder="请输入用户名" v-model="username">
			</div>
			<div class="form-group">
				<label for="age">年 龄</label>
				<input type="text" name="age" class="form-control" placeholder="请输入年龄" v-model="age">
			</div>
			<div class="form-group">
				<input type="button" class="btn btn-primary" value="添加" v-on:click="add()"></input>
				<input type="reset" class="btn btn-danger" value="重置" v-on:click="reset()"></input>
			</div>
		</form>
		<hr>
		<table class="table table-bordered">
			<caption class="text-center h4">用户信息表</caption>
			<tr class="text-info">
				<th class="text-center">序号</th>
				<th class="text-center">用户名</th>
				<th class="text-center">年龄</th>
				<th class="text-center">操作</th>
			</tr>
			<tr class="text-center" v-for="(item, index) in userlist">
				<td>{{index + 1}}</td>
				<td>{{item.username}}</td>
				<td>{{item.age}}</td>
				<!-- data-toggle：以什么事件触发，如modal； data-target：事件的目标；  -->
				<td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="itemIndex = index;msg='这条记录'">删除</td>
			</tr>
			<tr v-show="userlist.length != 0">
				<td colspan="4" class="text-right"><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer" v-on:click="msg='所有记录'">删除全部</button></td>
			</tr>
			<tr v-show="userlist.length === 0">
				<td colspan="4" class="text-center">
					<p class="text-muted">暂无信息...</p>
				</td>
			</tr>
		</table>

		<!-- 使用bootstrap制作一个模态对话框 -->
		<div role="dialog" class="modal fade" id="layer">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 对话框的头部 -->
					<div class="modal-header">
						<!-- data-dismiss：关闭模态对话框 -->
						<button class="close" data-dismiss="modal">
							<!-- 这里的&times;是一个html字符 -->
							<span>&times;</span>
						</button>
						<h4 class="modal-title"><strong>提示</strong></h4>
					</div>
					<div class="modal-body">
						<p>确认删除{{msg}}吗？</p>
						<div class="text-right">
							<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
							<button data-dismiss="modal" class="btn btn-danger btn-sm" v-on:click="deleteItem()">确认</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>